/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
    
}

.navbar-brand, .nav-link {
    color:black !important;
    text-shadow: 1px 1px 1px whitesmoke;
}

.navbar-brand{
    font-family:viga;
    font-size:32px;
}

/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}


/* card */
.card {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: 10px;
    background-color: white;
    padding: 20px;
}



/* footer */
.footer {
    margin-top: 30px;
}

.footer p {
    color: black;
    font-size: 18px;
    
}


.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: bold;
}

.nav-link:hover:after{
    content:'';
    display: block;
    border-bottom: 2px solid black ;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}